# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/0001_two_sum/two_sum
src/0015_three_sum/three_sum
main
a.out
core

src/0020_valid_parentheses/valid_parentheses
src/0024_swap_nodes_in_pairs/swap_nodes_in_pairs
src/0027_remove_element/remove_element
src/0028_strStr/strStr
src/0028_implement_strstr/implement_strstr
src/0035_search_insert_position/search_insert_position
src/0037_sudoku_solver/sudoku_solver
src/0039_combination_sum/combination_sum
src/0040_combination_sum_ii/combination_sum_ii
src/0045_jump_game_ii/jump_game_ii
src/0046_permutations/permutations
src/0047_permutations_ii/permutations_ii
src/0051_n_queens/n_queens
src/0053_maximum_subarray/maximum_subarray
src/0055_jump_game/jump_game
src/0056_merge_intervals/merge_intervals
src/0059_spiral_matrix_ii/spiral_matrix_ii
src/0062_unique_paths/unique_paths
src/0063_unique_paths_ii/unique_paths_ii
src/0070_climbing_stairs/climbing_stairs
src/0070_climbing_stairs_ex/climbing_stairs_ex
src/0072_edit_distance/edit_distance
src/0077_combinations/combinations
src/0078_subsets/subsets
src/0090_subsets_ii/subsets_ii
