# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/0001_two_sum/two_sum
src/0015_three_sum/three_sum
main
a.out
core

src/0020_valid_parentheses/valid_parentheses
src/0024_swap_nodes_in_pairs/swap_nodes_in_pairs
src/0027_remove_element/remove_element
src/0028_strStr/strStr
src/0028_implement_strstr/implement_strstr
src/0035_search_insert_position/search_insert_position
src/0037_sudoku_solver/sudoku_solver
src/0039_combination_sum/combination_sum
src/0040_combination_sum_ii/combination_sum_ii
src/0045_jump_game_ii/jump_game_ii
src/0046_permutations/permutations
src/0047_permutations_ii/permutations_ii
src/0051_n_queens/n_queens
src/0053_maximum_subarray/maximum_subarray
src/0055_jump_game/jump_game
src/0056_merge_intervals/merge_intervals
src/0059_spiral_matrix_ii/spiral_matrix_ii
src/0062_unique_paths/unique_paths
src/0063_unique_paths_ii/unique_paths_ii
src/0070_climbing_stairs/climbing_stairs
src/0070_climbing_stairs_ex/climbing_stairs_ex
src/0072_edit_distance/edit_distance
src/0077_combinations/combinations
src/0078_subsets/subsets
src/0090_subsets_ii/subsets_ii
src/0093_restore_ip_addresses/restore_ip_addresses
src/0096_unique_binary_search_trees/unique_binary_search_trees
src/0098_validate_binary_search_tree/validate_binary_search_tree
src/0101_symmetric_tree/symmetric_tree
src/0102_binary_tree_level_order_traversal/binary_tree_level_order_traversal
src/0104_maximum_depth_of_binary_tree/maximum_depth_of_binary_tree
src/0106_construct_binary_tree_from_inorder_and_postorder_traversal/construct_binary_tree_from_inorder_and_postorder_traversal
src/0108_convert_sorted_array_to_binary_search_tree/convert_sorted_array_to_binary_search_tree
src/0110_balanced_binary_tree/balanced_binary_tree
src/0111_minimum_depth_of_binary_tree/minimum_depth_of_binary_tree
src/0112_path_sum/path_sum
src/0115_distinct_subsequences/distinct_subsequences
src/0121_best_time_to_buy_and_sell_stock/best_time_to_buy_and_sell_stock
src/0122_best_time_to_buy_and_sell_stock_ii/best_time_to_buy_and_sell_stock_ii
src/0123_best_time_to_buy_and_sell_stock_iii/best_time_to_buy_and_sell_stock_iii
src/0131_palindrome_partitioning/palindrome_partitioning
src/0134_gas_station/gas_station
src/0135_candy/candy
src/0139_word_break/word_break
src/0142_linked_list_cycle_ii/linked_list_cycle_ii
src/0150_evaluate_reverse_polish_notation/evaluate_reverse_polish_notation
src/0151_reverse_words_in_a_string/reverse_words_in_a_string
src/0188_best_time_to_buy_and_sell_stock_iv/best_time_to_buy_and_sell_stock_iv
src/0198_house_robber/house_robber
src/0213_house_robber_ii/house_robber_ii
src/0337_house_robber_iii/house_robber_iii
src/0202_happy_number/happy_number
src/0203_remove_linked_list_elements/remove_linked_list_elements
src/0206_reverse_linked_list/reverse_linked_list
