# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/0001_two_sum/two_sum
src/0015_three_sum/three_sum
main
a.out
core

src/0020_valid_parentheses/valid_parentheses
src/0024_swap_nodes_in_pairs/swap_nodes_in_pairs
src/0027_remove_element/remove_element
src/0028_strStr/strStr
src/0028_implement_strstr/implement_strstr
src/0035_search_insert_position/search_insert_position
src/0037_sudoku_solver/sudoku_solver
src/0039_combination_sum/combination_sum
src/0040_combination_sum_ii/combination_sum_ii
src/0045_jump_game_ii/jump_game_ii
src/0046_permutations/permutations
src/0047_permutations_ii/permutations_ii
src/0051_n_queens/n_queens
src/0053_maximum_subarray/maximum_subarray
src/0055_jump_game/jump_game
src/0056_merge_intervals/merge_intervals
src/0059_spiral_matrix_ii/spiral_matrix_ii
src/0062_unique_paths/unique_paths
src/0063_unique_paths_ii/unique_paths_ii
src/0070_climbing_stairs/climbing_stairs
src/0070_climbing_stairs_ex/climbing_stairs_ex
src/0072_edit_distance/edit_distance
src/0077_combinations/combinations
src/0078_subsets/subsets
src/0090_subsets_ii/subsets_ii
src/0093_restore_ip_addresses/restore_ip_addresses
src/0096_unique_binary_search_trees/unique_binary_search_trees
src/0098_validate_binary_search_tree/validate_binary_search_tree
src/0101_symmetric_tree/symmetric_tree
src/0102_binary_tree_level_order_traversal/binary_tree_level_order_traversal
src/0104_maximum_depth_of_binary_tree/maximum_depth_of_binary_tree
src/0106_construct_binary_tree_from_inorder_and_postorder_traversal/construct_binary_tree_from_inorder_and_postorder_traversal
src/0108_convert_sorted_array_to_binary_search_tree/convert_sorted_array_to_binary_search_tree
src/0110_balanced_binary_tree/balanced_binary_tree
src/0111_minimum_depth_of_binary_tree/minimum_depth_of_binary_tree
src/0112_path_sum/path_sum
src/0115_distinct_subsequences/distinct_subsequences
src/0121_best_time_to_buy_and_sell_stock/best_time_to_buy_and_sell_stock
src/0122_best_time_to_buy_and_sell_stock_ii/best_time_to_buy_and_sell_stock_ii
src/0123_best_time_to_buy_and_sell_stock_iii/best_time_to_buy_and_sell_stock_iii
src/0131_palindrome_partitioning/palindrome_partitioning
src/0134_gas_station/gas_station
src/0135_candy/candy
src/0139_word_break/word_break
src/0142_linked_list_cycle_ii/linked_list_cycle_ii
src/0150_evaluate_reverse_polish_notation/evaluate_reverse_polish_notation
src/0151_reverse_words_in_a_string/reverse_words_in_a_string
src/0188_best_time_to_buy_and_sell_stock_iv/best_time_to_buy_and_sell_stock_iv
src/0198_house_robber/house_robber
src/0213_house_robber_ii/house_robber_ii
src/0337_house_robber_iii/house_robber_iii
src/0202_happy_number/happy_number
src/0203_remove_linked_list_elements/remove_linked_list_elements
src/0206_reverse_linked_list/reverse_linked_list
src/0209_minimum_size_subarray_sum/minimum_size_subarray_sum
src/0216_combination_sum_iii/combination_sum_iii
src/0222_count_complete_tree_nodes/count_complete_tree_nodes
src/0225_implement_stack_using_queues/implement_stack_using_queues
src/0226_invert_binary_tree/invert_binary_tree
src/0232_implement_queue_using_stacks/implement_queue_using_stacks
src/0235_lowest_common_ancestor_of_a_binary_search_tree/lowest_common_ancestor_of_a_binary_search_tree
src/0236_lowest_common_ancestor_of_a_binary_tree/lowest_common_ancestor_of_a_binary_tree
src/0239_sliding_window_maximum/sliding_window_maximum
src/0242_valid_anagram/valid_anagram
src/0257_binary_tree_paths/binary_tree_paths
src/0279_perfect_squares/perfect_squares
src/0300_longest_increasing_subsequence/longest_increasing_subsequence
src/0309_best_time_to_buy_and_sell_stock_with_cooldown/best_time_to_buy_and_sell_stock_with_cooldown
src/0322_coin_change/coin_change
src/0332_reconstruct_itinerary/reconstruct_itinerary
src/0343_integer_break/integer_break
src/0344_reverse_string/reverse_string
src/0347_top_k_frequent_elements/top_k_frequent_elements
src/0349_intersection_of_two_arrays/intersection_of_two_arrays
src/0376_wiggle_subsequence/wiggle_subsequence
src/0377_combination_sum_iv/combination_sum_iv
src/0377_combination_sum_iv/combination_sum_iv_ex

src/0383_ransom_note/ransom_note
src/0392_is_subsequence/is_subsequence
src/0404_sum_of_left_leaves/sum_of_left_leaves
src/0406_queue_reconstruction_by_height/queue_reconstruction_by_height
src/0416_partition_equal_subset_sum/partition_equal_subset_sum
src/0435_non_overlapping_intervals/non_overlapping_intervals
src/0450_delete_node_in_a_bst/delete_node_in_a_bst
src/0452_minimum_number_of_arrows_to_burst_balloons/minimum_number_of_arrows_to_burst_balloons
src/0454_4sum_ii/4sum_ii
src/0455_assign_cookies/assign_cookies
src/0459_repeated_substring_pattern/repeated_substring_pattern
src/0463_island_perimeter/island_perimeter
src/0474_ones_and_zeroes/ones_and_zeroes
src/0491_increasing_subsequences/increasing_subsequences
src/0494_target_sum/target_sum
src/0496_next_greater_element_i/next_greater_element_i
src/0501_find_mode_in_binary_search_tree/find_mode_in_binary_search_tree
src/0503_next_greater_element_ii/next_greater_element_ii
src/0509_fibonacci_number/fibonacci_number
src/0513_find_bottom_left_tree_value/find_bottom_left_tree_value
src/0516_longest_palindromic_subsequence/longest_palindromic_subsequence
src/0518_coin_change_2/coin_change_2
src/0530_minimum_absolute_difference_in_bst/minimum_absolute_difference_in_bst
src/0538_convert_bst_to_greater_tree/convert_bst_to_greater_tree
src/0541_reverse_string_ii/reverse_string_ii
src/0583_delete_operation_for_two_strings/delete_operation_for_two_strings
src/0617_merge_two_binary_trees/merge_two_binary_trees
src/0647_palindromic_substrings/palindromic_substrings
src/0649_dota2_senate/dota2_senate
src/0654_maximum_binary_tree/maximum_binary_tree
src/0657_robot_return_to_origin/robot_return_to_origin
src/0669_trim_a_binary_search_tree/trim_a_binary_search_tree
src/0673_number_of_longest_increasing_subsequence/number_of_longest_increasing_subsequence
src/0674_longest_continuous_increasing_subsequence/longest_continuous_increasing_subsequence
src/0684_redundant_connection/redundant_connection
src/0685_redundant_connection_ii/redundant_connection_ii
src/0700_search_in_a_binary_search_tree/search_in_a_binary_search_tree
src/0701_insert_into_a_binary_search_tree/insert_into_a_binary_search_tree
src/0704_binary_search/binary_search
src/0707_design_linked_list/design_linked_list
src/0714_best_time_to_buy_and_sell_stock_with_transaction_fee/best_time_to_buy_and_sell_stock_with_transaction_fee
src/0718_maximum_length_of_repeated_subarray/maximum_length_of_repeated_subarray
src/0724_find_pivot_index/find_pivot_index
src/0738_monotone_increasing_digits/monotone_increasing_digits
src/0739_daily_temperatures/daily_temperatures
src/0746_min_cost_climbing_stairs/min_cost_climbing_stairs
src/0763_partition_labels/partition_labels
src/0841_keys_and_rooms/keys_and_rooms
src/0844_backspace_string_compare/backspace_string_compare
src/0860_lemonade_change/lemonade_change
src/0922_sort_array_by_parity_ii/sort_array_by_parity_ii
src/0925_long_pressed_name/long_pressed_name
src/0941_valid_mountain_array/valid_mountain_array
